[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
