[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
